<main class="container">
  <div class="max-w-md my-10 m-auto p-12 lg:p-16 bg-white rounded border border-grey-light shadow">
<br>

<div style="padding-left: 10px; padding-right: 10px;">


<div class="row g-3">
      <div class="col-2">
        </div>
      <div class="col-lg-8">

        <div class="row">
        <div class="col-4">
        <h3 class="mb-3">New Meeting Form</h3>

      </div>
        <div class="col-6">

      </div>
        <div class="col-2">
        <%= link_to 'Back', root_path, class: "w-10 btn btn-outline-dark btn-sm", style: 'float: right'%>

      </div>
      </div>

        <br>
        <%= render 'form', meeting: @meeting %>
        <br>
      </div>
<div class="col-2">
         </div>
    </div>
       </div>
    </div>
</main>
<%= render 'clients/footer'%>

