<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
        <div class="d-flex justify-content-center">
                <div class="h-100vh bg-white p-4 d-flex m-4 align-items-center">
                    <div class="mx-5">
                       <div class="text-center">
                            <div class="mb-5">
                              <div class="h2 text-danger">PUBLIC ATTORNEY'S OFFICE <br>LOG IN</div>
                            </div>
                        </div>
                        <div class="my-5">
                                <%= render "devise/shared/links" %>
                            <button type="button" class="btn btn-outline-primary btn-block">Login or register Facebook</button>
                            <button type="button" class="btn btn-outline-danger btn-block">Login or register Google</button>
                            <button type="button" class="btn btn-outline-info btn-block">Login or register Twitter</button>
                        </div>
                                            </div>
                </div>
        </div>
